@charset "UTF-8";

:root {
    --cor1:#0081ab ;
    --cor2: rgb(154, 209, 228);
    --cor3: rgb(92, 207, 191);
    --cor4: rgb(1, 127, 141);
    --cor5: rgb(9, 93, 166);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
}

.cabecalho{
    background-color: var(--cor1);
    padding: 30px;
    height: 70px;
}

.container{
    margin: 0 auto;
    width: 900px;
}

.titulo-principal{
color: white;
margin-top: 5px;
font-weight: bold;

    
}
h1{
    text-align: center;
    font-size: 40px;
    height: 70px;

}

nav {
    margin-top: 10px;
}

ul {
    width: 500px;
}

li {
   display: inline-block; 
   margin: 10px;
   
}

a {
    text-decoration: none;
    color: black;
    border: 1px solid var(--cor2);
    background-color: var(--cor3);
    border-radius: 6px;
}

div#main {
    background-color:lightblue;
    width: 99vw;
    height: 100%;
    border: 1px solid black;
}

img#placa-video {
    
    width: 600px;
    height: 440px;
}

#processador {
    background-color: black;
}